#!/usr/bin/env bash

# Create empty .env.local if it doesn't exist so direnv can watch it
[[ ! -f .env.local ]] && touch .env.local

# Load local environment variables
dotenv_if_exists .env.local

# Device serials for USB debugging
export NOMAD_SERIAL=35251JEHN07763
export SETTLER_SERIAL=HT8611A01280

export SMS_PROXY_URL=http://${SETTLER_IP}:${SMS_PROXY_PORT}
export RING=dev
export HOST_URL=http://127.0.0.1:8000

echo "clanker environment loaded"
